@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  
  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-top: 6px;
  }
}

p {
  margin: 0;
  line-height: 1.4;
  text-indent: 1.5em;
  
  &:not(:last-child) {
    margin-bottom: .5em;
  }
}

section {
  padding: 80px 10vw;

  &.intro {
    padding: 80px 25vw;
    font-size: 1.4rem;

    cite {
      display: block;
      text-align: right;
      margin-top: 16px;
    }
  }
}