@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  
  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-top: 6px;
  }
}

p {
  margin: 0;
  line-height: 1.4;
  text-indent: 1.5em;
  
  &:not(:last-child) {
    margin-bottom: .5em;
  }
}

section {
  padding: 60px 10vw;

  &.intro, &.conclusion {
    padding-right: 25vw;
    padding-left: 25vw;
    font-size: 1.4rem;

    cite {
      display: block;
      text-align: right;
      margin-top: 16px;
    }
  }

  &.conclusion {
    background-color: #fafafa;
  }

  &.divider {
    padding: 40px 10vw;
    background-color: black;
    color: white;

    h2 {
      margin: 0;

      &::after {
        background-color: white;
      }
    }
  }

  p.hint {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
}

.disclaimer {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 1000;
  font-size: 1.3rem;
  max-width: 50vw;
  border: 1px solid rgba($color: black, $alpha: 0.4);
  background-color: rgba($color: white, $alpha: 0.92);
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;

  &:hover {
    background-color: rgba($color: #f0f0f0, $alpha: 1);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  section {
    padding: 40px 20px;

    &.intro, &.conclusion {
      padding: 40px 18vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.intro, section.conclusion {
    padding: 40px 40px;
  }
}

@media only screen and (min-width: 568px) {
  .disclaimer {
    display: none;
  }
}