.img .modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: black, $alpha: 0.75);
  z-index: 1001;
  align-items: center;
  justify-content: center;

  & > img {
    max-height: calc(100vh - 100px);
    max-width: 1024px;
    width: auto !important;
    object-fit: cover;
    margin: 0;
  }
}