@import './Consts';

.timeLineTitle {
  position: relative;
  min-width: 36%;
  max-width: 100%;
  padding: 20px;
  border: $border-width solid $border-color;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.25s ease-in-out;

  &.hidden {
    color: #FFF;
  }

  &:not(:first-child) {
    margin-top: 40px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: $border-width;
      background-color: $border-color;
      height: 40px;
      top: -40px - $border-width;
      left: calc(50% - #{$border-width / 2});
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: $border-width;
      background-color: $border-color;
      height: 40px;
      bottom: -40px - $border-width;
      left: calc(50% - #{$border-width / 2});
    }
  }
}